<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Obaida Al Mostarihi  3/17/21 9:33 AM
  ~ Copyright (c) 2021 . All rights reserved.
  ~ Licensed under the Apache License, Version 2.0 (the "LICENSE");
  ~ Last modified:  3/17/21 8:06 AM
  ~ Contact: Email : obaidaalmostarihi@gmail.com
  ~ Package: BackBlaze_Helper.app / BackBlaze Helper
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assembliers.backblazehelper">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackBlazeHelper">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>